src/Correlation.IntegrationTests/Service References/CorrelationServices/CorrelationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CorrelationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60695/CorrelationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60695/CorrelationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICorrelationService_GetCorrelationId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCorrelationId" />
  </wsdl:message>
  <wsdl:message name="ICorrelationService_GetCorrelationId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCorrelationIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICorrelationService_ThrowError_InputMessage">
    <wsdl:part name="parameters" element="tns:ThrowError" />
  </wsdl:message>
  <wsdl:message name="ICorrelationService_ThrowError_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThrowErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="ICorrelationService">
    <wsdl:operation name="GetCorrelationId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICorrelationService/GetCorrelationId" message="tns:ICorrelationService_GetCorrelationId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICorrelationService/GetCorrelationIdResponse" message="tns:ICorrelationService_GetCorrelationId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThrowError">
      <wsdl:input wsaw:Action="http://tempuri.org/ICorrelationService/ThrowError" message="tns:ICorrelationService_ThrowError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICorrelationService/ThrowErrorResponse" message="tns:ICorrelationService_ThrowError_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICorrelationService" type="tns:ICorrelationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCorrelationId">
      <soap:operation soapAction="http://tempuri.org/ICorrelationService/GetCorrelationId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThrowError">
      <soap:operation soapAction="http://tempuri.org/ICorrelationService/ThrowError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CorrelationService">
    <wsdl:port name="BasicHttpBinding_ICorrelationService" binding="tns:BasicHttpBinding_ICorrelationService">
      <soap:address location="http://localhost:60695/CorrelationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>