src/WebClient/Service References/CorrelationWebService/CorrelationWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetCorrelationId">
        <s:complexType />
      </s:element>
      <s:element name="GetCorrelationIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCorrelationIdResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThrowError">
        <s:complexType />
      </s:element>
      <s:element name="ThrowErrorResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCorrelationIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetCorrelationId" />
  </wsdl:message>
  <wsdl:message name="GetCorrelationIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetCorrelationIdResponse" />
  </wsdl:message>
  <wsdl:message name="ThrowErrorSoapIn">
    <wsdl:part name="parameters" element="tns:ThrowError" />
  </wsdl:message>
  <wsdl:message name="ThrowErrorSoapOut">
    <wsdl:part name="parameters" element="tns:ThrowErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="CorrelationWebServiceSoap">
    <wsdl:operation name="GetCorrelationId">
      <wsdl:input message="tns:GetCorrelationIdSoapIn" />
      <wsdl:output message="tns:GetCorrelationIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThrowError">
      <wsdl:input message="tns:ThrowErrorSoapIn" />
      <wsdl:output message="tns:ThrowErrorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CorrelationWebServiceSoap" type="tns:CorrelationWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCorrelationId">
      <soap:operation soapAction="http://tempuri.org/GetCorrelationId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThrowError">
      <soap:operation soapAction="http://tempuri.org/ThrowError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CorrelationWebServiceSoap12" type="tns:CorrelationWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCorrelationId">
      <soap12:operation soapAction="http://tempuri.org/GetCorrelationId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThrowError">
      <soap12:operation soapAction="http://tempuri.org/ThrowError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CorrelationWebService">
    <wsdl:port name="CorrelationWebServiceSoap" binding="tns:CorrelationWebServiceSoap">
      <soap:address location="http://localhost:60695/CorrelationWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CorrelationWebServiceSoap12" binding="tns:CorrelationWebServiceSoap12">
      <soap12:address location="http://localhost:60695/CorrelationWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>